includes:
    - phpstan-baseline.neon

parameters:
    paths:
        - src
    level: max

    excludePaths:
        - vendor

    bootstrapFiles:
        - vendor/autoload.php

    checkUninitializedProperties: true
    checkUnionTypes: true
    treatPhpDocTypesAsCertain: true
    inferPrivatePropertyTypeFromConstructor: true
    reportUnmatchedIgnoredErrors: true

    parallel:
        maximumNumberOfProcesses: 0
        minimumNumberOfJobsPerProcess: 1
        jobSize: 1
        processTimeout: 600.0